html {
	background : gray ;
	height : 100% ;
}

body {
	background-color : none ;
	height: 100% ;
}

body  > * {
	margin-top : 0.5rem ;
}

header {
	display : flex ;
	flex-direction : row ;
	align-items : left ;
	background-color : red ;
}

header > *:not(:first-child) {
	margin-left : 1rem ;
}

.content {
	display : flex ;
	flex-direction : column ;
	align-items : center ;
}

.content > * {
	background-color : white ;
	color : black ;
	max-width : 80rem ;
	padding : 0.5rem ;
	border-radius : 0.5rem ;
}

.content article {
	min-height: 85% ;
}

footer {
	background : blue ;
}

form.typepost > * {
	display: block ;
}

form.typepost > *:not(:first-child) {
	margin-top : 0.5rem ;
}

form.typepost textarea.post {
	min-height : 25rem ;
	min-width : 25rem ;
}

