html {
	background-color : black ;
	height : 100% ;
}

body {
	background-color : gray ;
	height: 100% ;
}

body  > * {
	margin-top : 0.5rem ;
}

header {
	background-color : red ;
}

.content {
	display : flex ;
	flex-direction : column ;
	align-items : center ;
}

.content * {
	background-color : white ;
	color : black ;
	max-width : 80rem ;
	padding : 0.5rem ;
}

.content article {
	min-height: 85% ;
}

footer {
	background : blue ;
}

form.typepost input {
	display: block ;
}

form.typepost input.post {
	min-height : 25rem ;
	min-width : 25rem ;
}

